.filters {
  min-width: 250px;
  flex: 0.25;
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 1em;
  margin: 1em 0 1em 1em;
  align-items: center;
  background-color: white;
  height: 0%;
}

.filters h3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters h3 button {
  background: none;
  border: none;
  color: #2874f0;
  cursor: pointer;
  font-size: 20px;
}

.filters_gender,
.filters_gender-main,
.filters_sort,
.filters_size,
.filters_wear,
.filters_brand {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.filters_gender-main button {
  background: none;
  border: 2px solid blue;
  font-weight: 500;
  padding: 10px 30px;
  cursor: pointer;
}

.filters_sort button,
.filters_brand-main button,
.filters_wear-main button {
  background: none;
  border: 2px solid black;
  cursor: pointer;
  padding: 10px 20px;
}

.filters_size select {
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px;
}

.filters_brand-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters_wear-main {
  display: flex;
  gap: 10px;
}
