.filters {
  min-width: 250px;
  flex: 0.25;
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 1em;
  margin: 1em 0 1em 1em;
  align-items: center;
  background-color: white;
  height: 0%;
}
