.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 1em;
  margin: 1em 1em 1em 0em;
  justify-content: space-evenly;
  background-color: white;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 10px;
  cursor: pointer;
  height: 500px;
}

.product img {
  width: 250px;
  height: 300px;
  padding: 10px;
}

.product:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(0, 0, 0, 0.5);
}
